/* Navigation Bar */
.navbar {
    background: #222140;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #bbbbff;
}

.navbar a.active {
    font-weight: bold;
    color: #f5a623; /* Highlight color for the active link */
}
